{% extends "base.html" %}

{% block title %}Visitors{% endblock %}

{% block content %}

<h2>Visitor Register</h2>

<form action="/add_visitor" method="POST">

<input type="text" name="visitor_name" placeholder="Visitor Name" required>

<input type="text" name="student_enrollment" placeholder="Student Enrollment" required>

<input type="text" name="relation" placeholder="Relation">

<input type="text" name="phone" placeholder="Phone Number">

<input type="date" name="visit_date">

<input type="time" name="in_time">

<input type="time" name="out_time">

<button type="submit">

Save Visitor

</button>

</form>

<table>

<tr>

<th>Name</th>

<th>Student</th>

<th>Relation</th>

<th>Phone</th>

<th>Date</th>

<th>In</th>

<th>Out</th>

</tr>

{% for visitor in visitors %}

<tr>

<td>{{ visitor.visitor_name }}</td>

<td>{{ visitor.student_enrollment }}</td>

<td>{{ visitor.relation }}</td>

<td>{{ visitor.phone }}</td>

<td>{{ visitor.visit_date }}</td>

<td>{{ visitor.in_time }}</td>

<td>{{ visitor.out_time }}</td>

</tr>

{% endfor %}

</table>

{% endblock %}